<<<<<<< HEAD
.event-name {
  margin-left: 20px;
  border-color: #FF6347;
  padding-bottom: 40px;
  margin-top: 40px;
  background-color: #ffebe6;
  font-weight: bold;
  font-size: 15px;

}

.event-time {
  margin-left: 40px;
}

.event-name h1 {
  color: white;
  background-color: #ff3333;
  padding: 20px;
  text-align: center;
}

.event-submit{
  border: solid;
=======
// Place all the styles related to the events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.event-card {
  background: #8D99AE;
  color: #EDF2F4;
  .card-block {
    .card-text {
      display: flex;
      .sub {
          margin-right: auto;
      }
    }
  }
>>>>>>> MrKnight
}
