.event-name {
  margin-left: 20px;
  border-color: #FF6347;
  padding-bottom: 40px;
  margin-top: 40px;
  background-color: #a4adb6;
  font-weight: bold;
  font-size: 15px;

}

.event-time {
  margin-left: 40px;
}

.event-name h1 {
  color: white;
  background-color: #FF6347;
  padding: 20px;
  text-align: center;
}

.event-submit{
  border: solid;
}
