.display-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  select {
    margin: 0 5px;
  }
  label {
    min-width: 70px;
  }
}

.event-time {
  margin-left: 40px;
}

.event-name h1 {
  color: white;
  background-color: #ff3333;
  padding: 20px;
  text-align: center;
}

.event-submit{
  border: solid;
}

.event-card {
  background: #8D99AE;
  color: #EDF2F4;
  .card-block {
    .card-text {
      display: flex;
      .sub {
          margin-right: auto;
      }
    }
  }
}
