
.r-side {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff3019+0,cf0404+84 */
  background: #ff3019; /* Old browsers */
  background: -moz-radial-gradient(center, ellipse cover, #ff3019 0%, #cf0404 84%); /* FF3.6-15 */
  background: -webkit-radial-gradient(center, ellipse cover, #ff3019 0%,#cf0404 84%); /* Chrome10-25,Safari5.1-6 */
  background: radial-gradient(ellipse at center, #ff3019 0%,#cf0404 84%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3019', endColorstr='#cf0404',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

  min-height: 1000px;
  display:flex;
  align-items: center;
  flex-direction: column;
  padding-top: 150px;
  color: white;
  border-radius: 30px;
  width: 100%;
}
.r-side img {
  border: dashed white;
  border-radius: 50%;
}
.r-side h1{
  font-weight: bold;
  font-size: 25px;
}
.r-side li {
  font-size: 20px;
  font-weight: lighter;
}
.m-side {
  text-align: center;
}

.l-side {
  padding-top: 40px;
}

.l-side p {
  color: gray;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 40px;
}

.error_explanation p {
  color: red;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}
