/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  text-align: center;
   height: 100%;
   margin-right: 360px;
   max-height: 400px;
   margin-bottom: 60px;
}
