 .ana{
   text-align: center;
   color: #D64938;
   padding-top: 100px;
   padding-bottom: 50px;

 }

 .button{
   text-decoration: none;
 }

 .blood_event{
   text-align: center;
   color: #D64938;
   padding-bottom: 50px;
 }
 .col-sm-4{
   padding-left: 100px;
 }
